---
title: Föreningshuset
---
<main class="content-container">
  <section class="content-section">
    <%= image_tag 'system-developer.jpg', class: "small-spacing" %>

    <h1 class="base-spacing">Medlemsadministratör</h1>

    <section class="cta-block base-spacing">
      <%= link_to 'Sök jobbet', 'mailto:anders@executive.se?subject=Ansökan till jobbet som Medlemsadministratör', :class => "button button-large" %>
    </section>

    <h3>Arbetsområden</h3>
    <p>Vi är idag fyra stycken medarbetare på kansliavdelningen och vi söker nu en till person som vill arbeta med oss och alltid sätta kunden och dess medlemmar i fokus.
    </p>

    <p>
    I rollen som medlemsadministratör kommer dina arbetsuppgifter att bestå i att besvara inkomna frågor från kunder och deras medlemmar via telefon och email.</p>

    <p>
    Arbetsuppgifterna består bland annat av följande:
    </p>

    <ul>
      <li>Medlemsadministration</li>
      <li>Registervård</li>
      <li>Kanslitjänster</li>
      <li>Fakturering av medlemsavgifter</li>
      <li>Innehållsuppdatering av hemsidor</li>
      <li>Epostutskick</li>
      <li>Distribution av postala utskick</li>
      <li>Administration av evenemang/bokningar</li>
    </ul>

    <h3>Kompetensprofil</h3>
    <p>
      Vi tror att du har några års erfarenhet av liknande arbetsuppgifter, vilket innebär att du kommer snabbt in i dina nya arbetsuppgifter. Då arbetet innebär många kontakter via telefon och email är du utåtriktad och intresserad av människor.
    </p> 

    <p>
      Du har god datorvana och att lära dig våra administrativa system går relativt enkelt. Din personlighet präglas av stor noggrannhet, en hög nivå av serviceinriktning internt såväl som externt mot våra kunder. Du är strukturerad och värderar en väl fungerande organisation, strukturer och processer. 
    </p>

    <p>
      Då omvärlden inte alltid är lika strukturerad och kunnig måste du ha en hög grad av flexibilitet om verkligheten så kräver. Du tvekar aldrig att hjälpa en kollega eller att ta dig an en arbetsuppgift. Vi hoppas du är trygg i din kompetens men med vilja att utvecklas i rollen. Är du dessutom nyfiken, positiv och glad har du alla möjligheter att lyckas i rollen.</p>

    <p>Sammanfattande krav på din kompetens och dina personliga egenskaper;</p>

    <ul>
      <li>Administrativ vana</li>
      <li>Ditt arbetssätt präglas av hög noggrannhet</li>
      <li>Du är strukturerad</li>
      <li>Du har också förmågan att ”ta bollen på uppstuds” och visa hög flexibilitet</li>
      <li>Hög stresstålighet</li>
      <li>En utåtriktad extern profil och tycker om att hjälpa kunder och kollegor</li>
      <li>Nyfiken i din natur samt vilja att utvecklas</li>
      <li>Du är målinriktad och handlingskraftig</li>
      <li>Lätt att fokusera samt rak i din kommunikation</li>
      <li>Självgående och beslutsmässig</li>
      <li>Till din natur är du positiv och entusiastisk</li>
      <li>Vi sitter i kontorslandskap och för dig är detta bara positivt</li>
    </ul>

    <h3>Meritierande erfarenheter</h3>
    <ul>
      <li>Erfarenhet från föreningsliv och ideella organisationer</li>
    </ul>

    <h3>Vi erbjuder dig</h3>

    <h6>Engagemang</h6>
    <p>Engagemang och pålitlighet är kärnan i Föreningshusets verksamhet och drivkraft inom organisationen. Föreningshuset ger varje individ utrymme och möjlighet att utveckla både sig själv och vår gemensamma plattform för föreningslivet. Engagemang smittar mellan oss och föreningarna.</p>

    <h6>Samarbete</h6>
    <p>Föreningshuset är ett företag där samarbete och glädje är ledordet. Det är högt i tak och verksamheten växer tack vare att vi fungerar som ett lag. Vi uppskattar varandra och visar varandra respekt, vi kommunicerar. Vi vill ha de bästa personerna på varje plats för att få ett komplett lag. Vi lär och utvecklas tillsammans. Detta kan bara ske om varje individ kontinuerligt utvecklas i sin roll och lär andra.</p>

    <h6>Kvalitet</h6>
    <p>Vi är kunskapsrika, vi förstår behovet från våra kunder, vi försöker alltid överträffa våra kunders förväntningar. Föreningshuset har under flera decenier levererat en plattform för föreningsadministration. Utan kvalitet och långsiktigthet hade detta aldrig varit möjligt. .</p>

    <h6>Ansvar</h6>
    <p>Föreningshuset är stabilt och pålitligt både mot oss själva och våra föreningar. Vi ansvarar för att föreningar har trygghet och lugn för att fokusera på medlemmarnas intressen. Stabilitet och ansvar ger varje individ i Föreningshuset trygghet och mod att utvecklas och trivas.</p>

    <h3>Befattningens villkor</h3>
    <ul>
      <li>Enligt separat anställningsavtal och marknadsmässiga villkor.</li>
      <li>Kontinuerlig vidareutveckling i form av konferenser eller kurser</li>
      <li>Föreningshuset satsar mycket på friskvård och har gemensam träning 1/ggr per vecka samt ytterligare en friskvårdstimme/vecka.</li>
      <li>Alla har fri tillgång till en personlig tränare en timme/vecka för att kunna utveckla sin träning från personliga önskemål.</li>
      <li>Vi sitter i ljusa fina lokaler i Hammarby Sjöstad.</li>
    </ul>

  </section>
</main>
