---
title: Föreningshuset
---
<main class="content-container">
  <section class="content-section">
    <%= image_tag 'system-developer.jpg', class: "small-spacing" %>

    <h1 class="base-spacing">Redovisningsekonom</h1>

    <section class="cta-block base-spacing">
      <%= link_to 'Sök jobbet', 'https://executive.positionett.se/assignment.php?id=945&p=4b6538a44a1dfdc2b83477cd76dee98e', :class => "button button-large" %>
    </section>

    <h3>Arbetsuppgifter</h3>
    <p>På ekonomiavdelningen är vi idag tre stycken medarbetare och vi söker nu ytterligare en person som vill komma och jobba med oss. Den vi letar efter ska, precis som vi, alltid sätta kunden i fokus.</p>

    <p>Föreningshuset fungerar som föreningens/företagets egen ekonomiavdelning och utför exempelvis följande arbetsuppgifter;</p>

    <ul>
      <li>Löpande bokföring samt avstämningar</li>
      <li>Leverantörsfakturor och utbetalningar</li>
      <li>Konteringsrutiner och attestregler</li>
      <li>Skatt- och momshantering</li>
      <li>Löneprocessen inklusive rutiner för tidrapportering</li>
      <li>Projektredovisning</li>
      <li>Budgetarbete samt uppföljning</li>
      <li>Tjänstepensionsrapportering, bland annat mot FORA</li>
      <li>Återrapportering till kund</li>
      <li>Proaktiv rådgivning i skattefrågor och nya regelverk</li>
      <li>Förbereda bokslut</li>
    </ul>

    <h3>Kompetensprofil</h3>
    <p>
      Vi söker dig som har minst gymnasial utbildning med ekonomisk inriktning samt ett par års erfarenhet av bokföring, antingen på ett företags ekonomiavdelning eller på en redovisningsbyrå.
    </p>

    <p>
      Din personlighet präglas av stor noggrannhet, en hög nivå av serviceinriktning internt såväl som externt mot kunder. Du är strukturerad och värderar en väl fungerande organisation, strukturer och processer. Eftersom omvärlden inte alltid är lika strukturerad och kunnig måste du ha en hög grad av flexibilitet om verkligheten så kräver.
    </p>

    <p>Du tvekar aldrig att hjälpa en kollega eller att ta dig an en arbetsuppgift. Vi hoppas du är trygg i din kompetens och har en vilja att utvecklas i rollen.</p>

    <p>Sammanfattande krav på din kompetens och dina personliga egenskaper;</p>

    <ul>
      <li>Ekonomisk utbildning</li>
      <li>Vana vid skötsel av löpande bokföring, skattedeklarationer, moms, bokslutsförberedande arbete med mera</li>
      <li>Vana vid lönearbete, gärna i programvaran Crona Lön från Datavara</li>
      <li>Ditt arbetssätt präglas av hög noggrannhet</li>
      <li>Du är strukturerad och effektiv</li>
      <li>Du har också förmågan att ”ta bollen på uppstuds” och visa hög flexibilitet</li>
      <li>Hög stresstålighet</li>
      <li>En utåtriktad extern profil och du tycker om att hjälpa kunder och kollegor</li>
      <li>Nyfiken i din natur samt vilja att utvecklas</li>
      <li>Du är målinriktad och handlingskraftig</li>
      <li>Lätt att fokusera samt rak i din kommunikation</li>
      <li>Självgående och beslutsmässig</li>
      <li>Till din natur är du positiv och entusiastisk</li>
      <li>Vi sitter i kontorslandskap och för dig är detta bara positivt</li>
    </ul>

    <h3>Meriterande erfarenheter</h3>
    <ul>
      <li>Erfarenhet från föreningsliv och ideella organisationer</li>
      <li>Tidigare erfarenhet från redovisningsbyrå</li>
    </ul>

    <h3>Programvaror</h3>

    <ul>
      <li>Olika programvaror från Visma för bokföring.</li>
      <li>Datavara (Crona lön) för löner</li>
      <li>BL Info för bokslut och skatt.</li>
      <li>MS Office paketet, främst excel som stödjande funktion och ekonomisk analys.</li>
    </ul>

    <h3>Vi erbjuder dig</h3>

      <h6>Engagemang</h6>
      <p>Engagemang och pålitlighet är kärnan i Föreningshusets verksamhet och drivkraft inom organisationen. Föreningshuset ger varje individ utrymme och möjlighet att utveckla både sig själv och vår gemensamma plattform för föreningslivet. Engagemang smittar mellan oss och föreningarna.</p>

      <h6>Samarbete</h6>
      <p>Föreningshuset är ett företag där samarbete och glädje är ledordet. Det är högt i tak och verksamheten växer tack vare att vi fungerar som ett lag. Vi uppskattar varandra och visar varandra respekt, vi kommunicerar. Vi vill ha de bästa personerna på varje plats för att få ett komplett lag. Vi lär och utvecklas tillsammans. Detta kan bara ske om varje individ kontinuerligt utvecklas i sin roll och lär andra.</p>

      <h6>Kvalitet</h6>
      <p>Vi är kunskapsrika, vi förstår behovet från våra kunder, vi försöker alltid överträffa våra kunders förväntningar. Föreningshuset har under flera decenier levererat en plattform för föreningsadministration. Utan kvalitet och långsiktigthet hade detta aldrig varit möjligt.</p>

      <h6>Ansvar</h6>
      <p>Föreningshuset är stabilt och pålitligt både mot oss själva och våra föreningar. Vi ansvarar för att föreningar har trygghet och lugn för att fokusera på medlemmarnas intressen. Stabilitet och ansvar ger varje individ i Föreningshuset trygghet och mod att utvecklas och trivas.</p>

    <h3>Befattningens villkor</h3>
    <ul>
      <li>Enligt separat anställningsavtal och marknadsmässiga villkor.</li>
      <li>Kontinuerlig vidareutveckling i form av konferenser, seminarier eller kurser.</li>
      <li>Föreningshuset satsar mycket på friskvård och har gemensam träning 1gg/vecka samt ytterligare en friskvårdstimme/vecka.</li>
      <li>Alla har fri tillgång till en personlig tränare en timme/vecka för att kunna utveckla sin träning från personliga önskemål.</li>
      <li>Vi sitter i ljusa fina lokaler i Hammarby Sjöstad.</li>
    </ul>



  </section>
</main>
