---
title: Föreningshuset
---
<main class="content-container">
  <section class="content-section">
    <%= image_tag 'system-developer.jpg' %>
    <h1>Senior systemutvecklare .NET</h1>
    <section class="cta-block">
      <%= link_to 'Sök jobbet', '/', :class => "button button-large" %>
    </section>

    <p>Föreningshuset expanderar kraftigt och söker fler utvecklare till vårt team för att skapa nästa generations mjukvara för föreningsliv. Du kommer att vara del i ett kreativt utvecklingsteam där vi tillsammans arbetar fram framtidens ekonomilösningar. I din roll kommer du att få arbeta med moderna ramverk såsom .NET Core, skapande av micro services, API-kopplingar mot exempelvis Swish tillsammans med många andra spännande arbetsuppgifter.</p>

    <p>Vi ser att du har tidigare erfarenhet av att arbeta i Microsofts verktyg (C#, ASP.NET, MS SQL). Du är troligen även bekant med testdriven utveckling och ser det som en naturlig del i ditt arbetsflöde att dokumentera och säkerställa din kod med enhetstester. Vi ser dessutom gärna att du har erfarenhet av att både skapa och integrera mot olika API.</p>
     
    <p>Hos Föreningshuset är vi ett kompakt team med utvecklare där lagarbetet är nyckeln till kvalité. Vi värderar därför starkt att du gillar att arbeta i lag och tillsammans med oss diskutera fram lösningar som gör svenskt föreningsliv enklare. Vi har en öppen kultur och dina åsikter är viktiga för teamet.</p>

    <h6>Meriterande erfarenheter:</h6>
    <ul>
      <li>Framtagande och specificerande av systemarkitektur i dialog med vårt team</li>
      <li>Agila arbetsmetoder såsom Scrum etc.</li>
      <li>Driftsättning mot Microsoft Azure eller dylikt.</li>
      <li>Utvecklat enligt DDD (Domain Driven Design)</li>
    </ul>
 

    <h6>Anställningsform och lön:</h6>
    <p>Fast heltid. Föreningshuset tillämpar individuell lönesättning.</p>
 
    <h6>Projektstart:</h6>
    <p>Försommar/höst 2017.</p>

    <h6>Förmåner</h6>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </section>
</main>
