---
title: Föreningshuset
---
<main class="content-container">
  <section class="content-section">
    <%= image_tag 'system-developer.jpg', class: "small-spacing" %>

    <h1 class="base-spacing">Senior systemutvecklare .NET</h1>

    <section class="cta-block base-spacing">
      <%= link_to 'Sök jobbet', 'mailto:anders@executive.se?subject=Ansökan till jobbet som Senior systemutvecklare .NET', :class => "button button-large" %>
    </section>

    <h3>Arbetsuppgifter</h3>

    <p>I Föreningshusets satsning på att bygga nästa generations plattform för svenskt föreningsliv söker vi nu en senior systemutvecklare.</p>

    <p>Föreningshuset expanderar kraftigt och söker fler utvecklare till vårt team för att skapa nästa generations mjukvara för föreningslivet. Du kommer att vara del i ett kreativt utvecklingsteam där vi tillsammans arbetar med framtidens plattform.</p>

    <p>Din erfarenhet och personliga utvecklig kommer ligga till grund för att Föreningshuset ska kunna erbjuda den innovativaste plattformen i framtiden. I din roll kommer du att få arbeta med moderna ramverk och utvecklande arkitekturer, såsom .NET Core, skapande av microservices och APIer för kundintegration.</p>

    <p>Du kommer också arbeta mot externa API-kopplingar mot exempelvis Swish och ekonomisystem. Din roll kommer även ta fram Proof of Concept på ideér för att utveckla såväl plattformen som dina och teamets kunskaper. Vi sätter stor vikt på kunskapsutbyte mellan individerna och du kommer både lära av andra och förmedla dina kunskaper till dem..</p>

    <p>Vi ser att du har tidigare erfarenhet av att arbeta i Microsofts verktyg (C#, ASP.NET, MS SQL). Du är troligen även bekant med testdriven utveckling och ser det som en naturlig del i ditt arbetsflöde att dokumentera och säkerställa din kod med enhetstester. Vi ser dessutom gärna att du har erfarenhet av att både skapa och integrera mot olika API.</p> 

    <p>Vi ser dessutom gärna att du har erfarenhet av att både skapa och integrera mot olika API.</p>

    <p>Hos Föreningshuset är vi ett kompakt team med utvecklare där lagarbetet är nyckeln till kvalitet och stabilitet. Vi värderar därför starkt att du gillar att arbeta i lag och tillsammans med oss diskutera fram lösningar som gör svenskt föreningsliv effektivare. Vi har en öppen kultur och dina åsikter är viktiga för teamet.</p>

    <h6>Meriterande erfarenheter:</h6>
    <ul>
      <li>Framtagande och specificerande av systemarkitektur i dialog med vårt team</li>
      <li>Agila arbetsmetoder såsom Scrum etc.</li>
      <li>Driftsättning mot Microsoft Azure eller dylikt.</li>
      <li>Utvecklat enligt DDD (Domain Driven Design)</li>
    </ul>

    <h3>Vi erbjuder dig</h3>

    <h6>Engagemang</h6>
    <p>Engagemang och pålitlighet är kärnan i Föreningshusets verksamhet och drivkraft inom organisationen. Föreningshuset ger varje individ utrymme och möjlighet att utveckla både sig själv och vår gemensamma plattform för föreningslivet. Engagemang smittar mellan oss och föreningarna.</p>

    <h6>Samarbete</h6>
    <p>Föreningshuset är ett företag där samarbete och glädje är ledordet. Det är högt i tak och verksamheten växer tack vare att vi fungerar som ett lag. Vi uppskattar varandra och visar varandra respekt, vi kommunicerar. Vi vill ha de bästa personerna på varje plats för att få ett komplett lag. Vi lär och utvecklas tillsammans. Detta kan bara ske om varje individ kontinuerligt utvecklas i sin roll och lär andra.</p>

    <h6>Kvalitet</h6>
    <p>Vi är kunskapsrika, vi förstår behovet från våra kunder, vi försöker alltid överträffa våra kunders förväntningar. Föreningshuset har under flera decenier levererat en plattform för föreningsadministration. Utan kvalitet och långsiktigthet hade detta aldrig varit möjligt. .</p>

    <h6>Ansvar</h6>
    <p>Föreningshuset är stabilt och pålitligt både mot oss själva och våra föreningar. Vi ansvarar för att föreningar har trygghet och lugn för att fokusera på medlemmarnas intressen. Stabilitet och ansvar ger varje individ i Föreningshuset trygghet och mod att utvecklas och trivas.</p>

    <h6>Förmåner</h6>
    <ul>
      <li>Enligt separat anställningsavtal och marknadsmässiga villkor.</li>
      <li>Kontinuerlig vidareutveckling i form av konferenser eller kurser</li>
      <li>Föreningshuset satsar mycket på friskvård och har gemensam träning 1gg/vecka samt ytterligare en friskvårdstimme/vecka.</li>
      <li>Alla har fri tillgång till en personlig tränare en timme/vecka för att kunna utveckla sin träning från personliga önskemål.</li>
      <li>Vi sitter i ljusa fina lokaler i Hammarby Sjöstad.</li>
    </ul>
  </section>
</main>
