---
title: Föreningshuset
---
<main class="content-container">
  <section class="content-section">
    <%= image_tag 'system-developer.jpg', class: "small-spacing" %>

    <h1 class="base-spacing">UI/UX-designer</h1>

    <section class="cta-block base-spacing">
      <%= link_to 'Sök jobbet', 'mailto:anders@executive.se?subject=Ansökan till jobbet som ui/UX-designer', :class => "button button-large" %>
    </section>

    <p>
      I Föreningshusets satsning på att bygga nästa generations plattform för svenskt föreningsliv söker vi nu en UI/UX-designer.
    </p>

    <p>
      I din roll som designer hos Föreningshuset arbetar du med att ta fram gränssnitt för vår nya plattform. Du kommer vara med från grunden i skapandet och ha stora möjligheter att påverka funktionernas utformning. 
    </p>

    <p>
      Du arbetar i ett tight team med frontend- och systemutvecklare som hjälper dig att realisera dina verk i fungerande applikationer, både för webb och handhållna enheter. Plattformen spänner över dashboards för administrativ överblick, till kundspecifika medlemsfunktioner.
    </p>

    <p>
      Föreningshuset drivs starkt av kundnyttan med våra verktyg. Du kommer därför att få arbeta fram och testa gränssnitt i dialoger tillsammans med våra kunder. Hos Föreningshuset är det högt i tak och vi ser vi ser gärna att du är en framåtlutad person som kommer med kreativa lösningar på hur våra produkter kan utvecklas. Föreningshuset arbetar kontinuerligt med att utveckla vårt erbjudande, såväl användar- och designupplevelse, som teknisk plattform.
    </p>

    <p>
      Idag används Föreningshusets olika delsystem av en stor mängd olika typer av användare. Flertalet av våra användare är engagrande människor som brinner för ”sin” förening. De vill ha det bästa för sina medlemmar, och detta gäller även plattformen som du kommer vara med att utveckla.
    </p>

    <p>
      Som UI/UX-designer kommer du direkt få feedback på dina ideér för att styra den kontinuerliga utvecklingen av framtidens plattform för föreningslivet. Du kommer även vara en viktig del av profileringen av Föreningshuset i vår expansion. Föreningshuset har alltid varit den mest innovativa och genomtänkta plattformen för föreningslivet. Du kommer möjliggöra detta även i framtiden!
    </p>


    <h3>Vi tror att du har relevant utbildning inom något av följande:</h3>
    <ul>
      <li>Interaktionsdesign</li>
      <li>Människa-datorinteraktion</li>
      <li>Grafisk formgivning med inriktning mot digital produktion</li>
    </ul>

    <p>Vi välkomnar även spetsutbildningar från exempelvis Hyper Island eller Bergs.</p>
    <p>Vi är även nyfikna på att du berättar mer om dina parallella hobbyprojekt som vi tror att du berikar din fritid med.</p>
    <p>Jobbet går att söka på portfolio.</p>

    <h3>Meriterande erfarenheter:</h3>
    <ul>
      <li>Prototypdriven design (Axure RP, Marvel, Invision etc.)</li>
      <li>Användartestning</li>
      <li>Dataanalys</li>
      <li>Enklare webbutveckling i HTML/CSS</li>
      <li>A/B-testning</li>

    <h3>Befattningens villkor</h3>
    <ul>
      <li>Enligt separat anställningsavtal och marknadsmässiga villkor</li>
      <li>Kontinuerlig vidareutveckling i form av konferenser eller kurser</li>
      <li>Föreningshuset satsar mycket på friskvård och har gemensam träning 1/ggr per vecka samt ytterligare en friskvårdstimme/vecka.</li>
      <li>Alla har fri tillgång till en personlig tränare en timme/vecka för att kunna utveckla sin träning från personliga önskemål.</li>
      <li>Vi sitter i ljusa fina lokaler i Hammarby Sjöstad.</li>
    </ul>

  </section>
</main>
