<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <% link_to '/', :class => "mobile-logo" do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENY</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><a href="/jobb">Tillgängliga jobb</a></li>
        <li class="nav-link logo">
          <% link_to '/', :class => "logo" do %>
            <%= image_tag 'logo.png' %>
          <% end %>
        </li>
        <li class="nav-link"><a href="/om-oss">Om Föreningshuset</a></li>
      </ul>
    </nav>
  </div>
</header>