<section class="open-spots content-section">
  <h2>Tillgängliga jobb hos Föreningshuset</h2>
  <ul>
    <li class="open-spots__row">
      <a href="/jobb/senior-systemutvecklare-dot-net" class="open-spots__link">
        <h3 class="open-spots__title">Senior systemutvecklare .NET</h3>
        <p class="open-spots__text">IT</p>
      </a>
    </li>
    <li class="open-spots__row">
      <a href="/" class="open-spots__link">
        <h3 class="open-spots__title">UI/UX-designer</h3>
        <p class="open-spots__text">IT</p>
      </a>
    </li>
    <li class="open-spots__row">
      <a href="/" class="open-spots__link">
        <h3 class="open-spots__title">Redovisningskonsult</h3>
        <p class="open-spots__text">Ekonomi</p>
      </a>
    </li>
  </ul>
</section>