---
title: Föreningshuset
---
<div class="jumbotron" style="background-image:url('/images/frukt-pa-jobben.jpg')">
  <div class="jumbotron-inner">
    <span class="tagline">Jobba hos Föreningshuset</span>
  </div>
</div>
<main class="content-container">

  <section class="content-section">
    <h2>Om Föreningshuset</h1>
    <p>Föreningshuset har sedan 1998 utvecklat webbaserade ekonomi och administrationssystem för svenskt föreningsliv. Bland kunderna finns etablerade idrottsföreningar såsom AIK, Djurgården och Hammarby samt övriga föreningar som 1,6 miljonerklubben, Kungliga Automobilklubben –KAK samt Publicistklubben. Årligen hanterar våra system över 250 000 medlemmar och processar transaktioner överstigande 250 miljoner kronor.<br><a href="/om-oss">Läs mer om Föreningshuset...</a></p>
  </section>

  <%= partial "partials/jobs" %>

</main>
