---
title: Föreningshuset
---
<div class="jumbotron" style="background-image:url('images/frukt-pa-jobben.jpg')">
  <div class="jumbotron-inner">
    <span class="tagline">Jobba hos Föreningshuset</span>
  </div>
</div>
<main class="content-container">

  <section class="content-section">
    <h2>Om Föreningshuset</h1>
    <p>Föreningshuset har sedan 1998 utvecklat ekonomi- och administrationssystem för svenskt föreningsliv. Bland kunderna finns allt från stora fotbollsklubbar såsom AIK till den lilla föreningen. Årligen hanterar våra system över 250 000 medlemmar och processar transaktioner för 224 000 000 kr.</p>
  </section>

  <%= partial "partials/jobs" %>

</main>
