---
title: Föreningshuset
---
<div class="jumbotron" style="background-image:url('images/frukt-pa-jobben.jpg')">
  <div class="jumbotron-inner">
    <span class="tagline">Jobba hos Föreningshuset</span>
  </div>
</div>

<main class="content-container">

  <%= partial "partials/jobs" %>

</main>
