---
title: Om oss - Föreningshuset
---
<div class="jumbotron" style="background-image:url('/images/frukt-pa-jobben.jpg')">
  <div class="jumbotron-inner">
  </div>
</div>

<main class="content-container">

  <section class="content-section">
    <h2>Företaget</h1>

    <p>Föreningshuset har sedan starten år 1972 varit specialiserat på Föreningsadministration. Det gäller all form av administration, såsom medlemshantering/medlemssystem, ekonomi/bokföring samt kansli.</p>
    <p>
    Med hjälp av Föreningshusets webblösningar kan våra kunder själva administrera medlemmar och föreningsgöromål över Internet. Föreningshuset erbjuder även associerade tjänster, såsom boknings- och betaltjänster över internet.</p>

    <p>Föreningshuset har för närvarande över 300 föreningar som kunder, vilket innebär hundratusentals medlemmar. Vårt jobb är att ge dem mer tid till kärnverksamheten.
    Föreningshuset är en stabil affärspartner med högsta kreditklass av UC. Vi hanterar stora betalflöden och är därmed registrerad betaltjänstleverantör med tillstånd hos Finansinspektionen.</p>
    <p>
    Föreningshuset ska vara Sveriges bästa, och för sina kunder mest värdeskapande, helhetsleverantör av föreningsadministration.
    Engagemang i föreningar ger människor en högre livskvalitet. Föreningshuset gör Sverige bättre!</p>

    <h3>Bakgrund till uppdraget</h3>

    <p>Föreningshuset är inne i en stark tillväxtfas. Under 2016 växte vår totala förvaltade medlemsdatabas med 25%.
    Marknaden ökar eftersom det finns ett ökat behov inom den ideella sektorn och vi ser en fortsatt kraftig expansion de kommande åren.
    Föreningshuset står inför en stor utmaning att möta nuvarande och nya kunders efterfrågan av befintliga tjänster samt utveckling av helt nya affärsområden.
    Föreningshuset behöver därför omgående anställa personal till samtliga avdelningar.</p>

    <p>Föreningshusets har tre verksamhetsområden:</p>

    <h6>Medlemsadministration</h6>
    <p>Föreningshusets webbaserade system skapar ordning i föreningarnas medlemsadministration. Tjänsterna bidrar med hög tillgänglighet online för administratör såväl som medlemmar.</p>
    <p> 
    Att uppgifter alltid hålls uppdaterade i föreningens medlemsregister innebär kostnadsbesparingar och ökar samtidigt den tid som engagerade människor kan lägga på kärnverksamheten. Det i sin tur ökar medlemsvärdet.</p>

    <h6>Kansli</h6>
    <p>Föreningshusets erfarna kanslipersonal har hand om hela eller delar av Föreningarnas kansli, vilket innebär att föreningarna inte behöver investera i egen personal och egna lokaler. Tack vare vår erfarenhet och vårt effektiva administrativa system kan vi leverera mycket kostnadseffektiva tjänster.
    Föreningarna får tillgång till alla de resurser och all erfarenhet som vår kansliavdelning har byggt upp under de 20 år som vi levererat denna tjänst. Våra öppettider är generösa, vilket ger en bra service till både styrelse och medlemmar.</p>

    <h6>Redovisning</h6>
    <p>Föreningshuset har kunnig personal som är specialiserade på redovisning för ideella föreningar. Med Föreningshuset som partner för ekonomiadministrationen har föreningen alltid tillgång till den kompetens som behövs för skattereglerna inom den ideella sektorn.</p>
    <p>Redovisningstjänsterna är integrerade med Föreningshusets medlemshantering samt betaltjänster, vilket väsentligt förenklar styrelsearbetet.</p>

  </section>

</main>
